@import "../bower/bootstrap/less/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f90;
}
